@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

body {
    margin: 8px;
    font-family: 'Cormorant Garamond';
    font-size: 150%;
}

body.index {
    font-size: 120%;
}

.page-font-size--small body {
    font-size: 120%;
}

.page-font-size--large body {
    font-size: 200%;
}

a:link, a:visited {
    color: #0000EE;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}

.back-link {
    text-decoration: none;
}

.font-size-selector {
    margin-top: -5px;
}

.font-size-selector a {
    margin-right: 5px;
}

.font-size-selector__small {

}
.font-size-selector__med {
    font-size: 120%;
}
.font-size-selector__large {
    font-size: 160%;
}


h1 {
    font-size: 34px;
    margin: 0.2em 0 0.67em 0;
}

.stanza {
    margin-bottom: 1.2em;
}

.stanza-plus {
    margin-top: 1.8em;
}

.indent {
    margin-left: 1em;
}

p {
    margin: 0 0 .08em 0;
    padding-left: 1.7em;
    text-indent: -1.7em;
}

.number {
    color: #222;
    margin-left: -2px;
    position: relative;
    top: -0.15em;
}
.number::after {
    content:'.'
}
